<!DOCTYPE html>
<html lang="en" ng-app="lunch" ng-controller="lunchController" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>What's For Lunch</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
	<link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="lunch.css">
	<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>


	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <h1>What's For Lunch</h1>
    <ul class="menu">
		<li><a href="#lunch">Find a Place for Lunch</a></li>
		<li><a href="#review">Review Where I Ate</a></li>
	</ul>
    <div class="preferences">
        <h2>Options</h2>
        <label for="location">
            <span class="location-options">Location Options: <span id="location-type">{{ locationType }}</span></span>
            <input id="address" type="text" ng-model="locationFilter" placeholder="Enter City, State and/or Zip"> <input id="get-my-location-button" type="button" value="Use My Current Location" ng-click="getCurrentLocation()">
			<input id="lat" type="text" ng-model="latitudeFilter">
			<input id="long" type="text" ng-model="longitudeFilter">
            <input id="reset-location" type="button" value="Reset Location Options">
        </label>
        <label for="sort_by">
            Sort Preference:
            <select ng-model="sortFilter">
                 <option ng-repeat="option in sortOptions" value="{{ option }}">{{ option | prettyText }}</option>
             </select>
        </label>
    </div>
    <div class="find">
        <h2>header</h2>
        <ul>
            <li ng-repeat="venue in dynamicVenueList">
                <figure>
                    <figcaption>{{ venue.name }} - {{ venue.price }}</figcaption>
                    <img src="{{ venue.image_url}}" class="img-responsive">

                </figure>
            </li>
        </ul>
    </div>
	<div ng-view></div>



	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <script src="filters.js"></script>
    <script src="scripts.js"></script>
</body>

</html>
