.preferences {
	background: $grey;
	padding: 40px 0;
	.location-options {
		display: block;
		margin-bottom: 10px;
	}
	label {
		display: block;
		margin: 0 0 10px 10px;

	}



	// #resetLocation {
	// 	display: none;
	// }
}
