.preferences {
	background: $grey;
	padding: 15px 0;
	.options {
		.location-options {
			display: block;
			margin-bottom: 10px;
		}

	}

	label {
		display: block;
		margin: 10px 0;

	}
	.advanced {
		position: relative;
		.fake-link {
			position: absolute;
			top: 0;
			right: 0;

		}
	}



	// #resetLocation {
	// 	display: none;
	// }
}
